<footer>
    <div id="social">
      <a href="https://www.linkedin.com/in/jas0nmjames" title="Navigate to my LinkedIn Profile"><i class="fab fa-linkedin" id="icon" label="Navigate to my LinkedIn Profile"></i></a>
      <a href="https://github.com/jas0nmjames" title="Navigate to my Github Profile"><i class="fab fa-github" id="icon" label="Navigate to my Github Profile"></i></a>
      <a href="https://www.strava.com/athletes/jas0nmjames" title="Navigate to my Strava Profile"><i class="fab fa-strava" id="icon" label="Navigate to my Strava Profile"></i></a>
      <a href="https://medium.com/@jas0nmjames" title="Navigate to my Medium Profile"><i class="fab fa-medium" id="icon" label="Navigate to my Medium Profile"></i></a>
      <a href="https://twitter.com/jas0nmjames" title="Navigate to my Twitter Profile"><i class="fab fa-twitter" id="icon" label="Navigate to my Twitter Profile"></i></a>
    </div>
    <div class="small" id="copyright">
      <a href="https://github.com/jas0nmjames/jas0nmjames.github.io">Designed, built and maintained by Jason James.  <a href="https://github.com/jas0nmjames" title="Navigate to my Github Profile"><i class="fab fa-github" id="icon" label="Navigate to my Github Profile"></i></a></a>
    </div>
  </footer>