<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto|Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4729109274.js" crossorigin="anonymous"></script>
    {% feed_meta %}
    {% seo %}

    <!-- favicon.  thank you John Sorrentino.  see https://favicon.io/favicon-converter/ -->

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

</head>