.body {
  background-color: #FFFFFF;
}

.grid {
  display: grid;
  height: 768px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 24px 72px 48px auto;
  align-items: center;
  justify-items: center;
  color: #114B5F;
}

.title {
  grid-column: 2 / 12;
  grid-row: 2 / 3;
  justify-self: start;
  font-family: 'Patua One', cursive;
  font-size: 36px;
}

.navigation {
  grid-column: 3 / 12;
  grid-row: 3 / 4;
  justify-self: start;
  font-family: 'Patua One', cursive;
  font-size: 24px;
}

.tagline {
  grid-column: 2 / 12;
  grid-row: 4 / 5;
  font-family: 'Patua One', cursive;
  font-size: 72px;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.fa-strava {
  color: #fc4c02;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-medium {
  color: #12100e;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-github {
  color: #24292e;
}

.fa-behance {
  color: #1769ff;
}

.fa-dribbble {
  color: #ea4c89;
}