<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  {% include navigation.html %}
  {{ content }}
  {% include footer.html %}

  <!-- Inserting the script for the Watson Assistant integration below. -->

  <!-- As evidenced in the September 27th build, the script works locally, but not when pushed to the web through github pages. -->

  <script>
    window.watsonAssistantChatOptions = {
        integrationID: "9160902f-a1f1-4b25-bd6d-b9f943c44f2d", // The ID of this integration.
        region: "us-east", // The region your integration is hosted in.
        serviceInstanceID: "06af7442-e85c-4210-8783-3c7612bf25e9", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" +
        (window.watsonAssistantChatOptions.clientVersion || 'latest') +
        "/WatsonAssistantChatEntry.js"
      document.head.appendChild(t);
    });
  </script>

</body>
</html>